<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body class="g-sidenav-show  bg-gray-200">
  <%- include('partials/_navbar.ejs') %>
    <%- include('partials/_asidebar.ejs') %>
      <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Order Details</h6>
                  </div>
                </div>
                <div class="card-body px-4 pb-2">
                  <div class="order-info">
                    <p><strong>Order ID:</strong> <%= locals.order._id %></p>
                    <p><strong>Payment Method:</strong> <%= locals.order.paymentMethod %></p>
                    <p>
                      <strong>Order Status:</strong>
                      <select id="orderStatusDropdown" data-order-id="<%= locals.order._id %>">
                        <option value="Pending" <%= locals.order.status === 'Pending' && "selected" %>>Pending</option>
                        <option value="Confirmed" <%= locals.order.status === 'Confirmed' && "selected" %>>Confirmed</option>
                        <option value="Cancelled" <%= locals.order.status === 'Cancelled' && "selected" %>>Cancelled</option>
                        <option value="Delivered" <%= locals.order.status === 'Delivered' && "selected" %>>Delivered</option>
                        <option value="Returned" <%= locals.order.status === 'Returned' && "selected" %>>Returned</option>
                      </select>
                    </p>
                    <p><strong>Total Price:</strong> ₹<%= locals.order.total %></p>
                    <p><strong>Amount Payable:</strong> ₹<%= locals.order.amountPayable %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Shipping Address</h6>
                  </div>
                </div>
                <div class="card-body px-4 pb-2">
                  <div class="shipping-info">
                    <p><strong>House Name:</strong> <%= locals.order.address.houseName %></p>
                    <p><strong>Mobile:</strong> <%= locals.order.address.mobile %></p>
                    <p><strong>Street:</strong> <%= locals.order.address.street %></p>
                    <p><strong>City:</strong> <%= locals.order.address.city %></p>
                    <p><strong>State:</strong> <%= locals.order.address.state %></p>
                    <p><strong>Pin:</strong> <%= locals.order.address.pin %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Order Items</h6>
                  </div>
                </div>
                <div class="card-body px-4 pb-2">
                  <table id="orderItemsTable">
                    <thead>
                      <tr>
                        <th class="text-center">Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% locals.order.items.forEach(item => { %>                       
                        <tr>
                          <td class="text-center"><%= item.productName %></td>
                          <td class="text-center"><%= item.quantity %></td>
                          <td class="text-center">₹<%= item.price %></td>
                          <td class="text-center">₹<%= item.quantity * item.price %></td>
                        </tr>
                      <% }) %>
                    
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

        </div>
        <%- include('partials/_footer.ejs') %>
          </div>
      </main>
      <%- include('partials/_scripts.ejs') %>
   <script>
  const orderStatusDropdown = document.getElementById('orderStatusDropdown');
  orderStatusDropdown.addEventListener('change', (e) => {
    fetch(`/admin/users/orders/${e.target.dataset.orderId}`, {
      method: "PATCH",
      headers: {
        "content-type": "application/json"
      },
      body: JSON.stringify({
        status: e.target.value
      })
    }).then(res => res.json())
    .then(data => {
      if (data.success) {
        alertOk("Order status updated successfully");
      } else {
        alertNotOk("An error occurred.");
        console.error(data);
      }
    })
    .catch(alertNotOk);
  });
</script>
</body>

</html>
