<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<%- include('partials/_head', { title: "About" }) %>

<body>
    <%- include('partials/_pre-header') %>
    <%- include('partials/_header', { active: 'about' }) %>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
     <!-- Start About Page  -->
     <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-frame">
                        <img class="img-fluid" src="images/about-img.jpg" alt="About Us Image" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Discover the Story of <span>JDGreens</span></h2>
                    <p>Welcome to JDGreens, where the love for nature meets the joy of cultivation. Our journey began with a simple mission - to bring the beauty and serenity of nature into every home. As plant enthusiasts, we understand the positive impact greenery has on well-being, and we're dedicated to sharing that experience with you.</p>
                    <p>At JDGreens, we take pride in offering a curated selection of high-quality plants, from vibrant succulents to elegant indoor foliage. Each plant is chosen with care, ensuring it not only enhances your living space but also brings joy and tranquility into your life.</p>
                    <p>Explore our diverse range of plants, discover expert care tips, and join us in creating a greener, healthier world. We're more than just a plant shop; we're your partners in fostering a deeper connection with nature.</p>
                    <a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>Trust is the foundation of our relationship with our customers. We take pride in delivering quality plants and exceptional service, earning the trust of plant enthusiasts worldwide.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>With a team of experienced horticulturists and plant enthusiasts, we bring professionalism to every aspect of JDGreens. From plant selection to delivery, we prioritize excellence in every detail.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Our expertise goes beyond selling plants; it extends to providing valuable insights on plant care. Count on us for expert advice, ensuring your plants thrive and bring lasting joy into your life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    <!-- End About Page -->

    <%- include('partials/_insta') %>
    <%- include('partials/_footer') %>

    <%- include('partials/_scripts') %>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>