<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<%- include('partials/_head', { title: "Checkout" }) %>

<body>
    <%- include('partials/_pre-header') %>
    <%- include('partials/_header', { active: 'checkout' }) %>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <form class="container" id="checkOut" method="POST" action="/user/checkout">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Select Address</h3>
                    </div>
                    <div class="mb-4">
                        <div>
                            <% if (locals.addresses && locals.addresses.length > 0) { %>  
                                <% locals.addresses.forEach((address, index) => { %>
                                    <div class="custom-control custom-radio">
                                        <input value="<%= address._id %>" id="addressOption<%= index %>" name="addressOption" class="custom-control-input" checked="checked" type="radio">
                                        <label class="custom-control-label" for="addressOption<%= index %>"><%= address.houseName %>, <%= address.street %></label> <span class="float-right font-weight-bold"><%= address.pin %></span> 
                                    </div>
                                    <div class="ml-4 mb-2 small">(<%= address.city %>, <%= address.state %>, <%= address.mobile %>)</div>
                                <% }) %>
                            <% } else { %>
                                <p style="color: red; font-weight: bold;">Please add an address.</p>
                            <% } %>
                        </div>
                    </div>
                    <h5><a href="/user/address/add?from=checkout"><i class="fa fa-plus"></i> Add New Address</a></h5>

                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="shipping-method-box">
                        <div class="title-left">
                            <h3>Choose Payment Method</h3>
                        </div>
                        <div class="mb-4">
                            <div>
                                <div class="custom-control custom-radio">
                                    <input data-wallet-amount="<%= locals.wallet %>" value="wallet" id="wallet" name="paymentOption" class="custom-control-input" type="radio" <%= locals.wallet < locals.totalPrice && "disabled" %>>
                                    <label class="custom-control-label" for="wallet">Wallet</label> <span class="float-right font-weight-bold"></span> 
                                </div>
                                <div id="walletText" class="ml-4 mb-2 small">(₹ <%= locals.wallet %> left in balance)</div>
                                <div class="custom-control custom-radio">
                                    <input value="cod" id="cod"  name="paymentOption" class="custom-control-input" type="radio" <%= locals.totalPrice > 2000 && "disabled" %>>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label> <span class="float-right font-weight-bold"></span> 
                                </div>
                                <div id="codText" class="ml-4 mb-2 small text-danger">(only upto ₹2,000)</div>
                                <div class="custom-control custom-radio">
                                    <input value="upi" id="upi" name="paymentOption" class="custom-control-input" checked="checked" type="radio">
                                    <label class="custom-control-label" for="upi">Net Banking</label> <span class="float-right font-weight-bold"></span> 
                                </div>                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="odr-box">
                        <div class="title-left">
                            <h3>Shopping Cart</h3>
                        </div>
                        <div class="rounded p-2 bg-light">
                            <% if (locals.cart && locals.cart.products.length > 0) { %>
                                <% locals.cart.products.forEach(product => { %>                                        
                                    <div class="media mb-2 border-bottom">
                                        <div class="media-body"> <a href="/shop/<%= product.productId %>"> <%= product.name %></a>
                                            <div class="small text-muted">Price: ₹<%= product.price %> <span class="mx-2">|</span> Qty: <%= product.productQty %> <span class="mx-2">|</span> Subtotal: <%= product.price * product.productQty %></div>
                                        </div>
                                    </div>
                                <% }) %>
                            <% } else { %>
                                <p>You have an empty cart.</p>
                            <% } %>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="shipping-method-box">
                        <div class="title-left">
                            <h3>Coupon</h3>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="couponCode">Coupon</label>
                            <input style="text-transform: uppercase" readonly type="text" class="form-control" id="couponCode" name="couponCode" placeholder="" value="" required>
                            <button type="button" id="viewCouponsButton" class="btn btn-secondary btn-hover mt-2">View Coupons</button>
                            <button type="button" id="clearCouponButton" class="btn btn-secondary btn-hover mt-2">Clear Coupon</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-12 col-lg-12 mb-3"> -->
                    <!-- <div class="row"> -->
                        <div class="col-md-6 col-lg-6">
                            <div class="title-left">
                                <h3>Shipping Method </h3>
                            </div>
                            
                            <div class="mb-4" id="shippingOptions">
                                <div class="custom-control custom-radio">
                                    <input value="0" id="shippingOption1" name="shippingOption" class="custom-control-input" checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">Standard Delivery</label> <span class="float-right font-weight-bold">FREE</span> </div>
                                <div class="ml-4 mb-2 small">(3-7 business days)</div>
                                <div class="custom-control custom-radio">
                                    <input value="50" id="shippingOption2" name="shippingOption" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="shippingOption2">Express Delivery</label> <span class="float-right font-weight-bold">₹50.00</span> </div>
                                <div class="ml-4 mb-2 small">(2-4 business days)</div>
                                <div class="custom-control custom-radio">
                                    <input value="100" id="shippingOption3" name="shippingOption" class="custom-control-input" type="radio">
                                    <label class="custom-control-label" for="shippingOption3">Next Business day</label> <span class="float-right font-weight-bold">₹100.00</span> </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>Your Order</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Product</div>
                                    <div class="ml-auto font-weight-bold">Total</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> ₹ <%= locals.totalPrice %> </div>
                                </div>
                                <!-- <div class="d-flex">
                                    <h4>Discount</h4>
                                    <div class="ml-auto font-weight-bold"> ₹ 40 </div>
                                </div> -->
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Coupon Discount</h4>
                                    <div class="ml-auto font-weight-bold" id="couponDiscountText">- ₹ 0 </div>
                                </div>
                                <!-- <div class="d-flex">
                                    <h4>Tax</h4>
                                    <div class="ml-auto font-weight-bold"> ₹ 2 </div>
                                </div> -->
                                <div class="d-flex">
                                    <h4>Shipping Cost</h4>
                                    <div class="ml-auto font-weight-bold" id="shippingCost"> Free </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Grand Total</h5>
                                    <div class="ml-auto h5" id="grandTotal" data-price="<%= locals.totalPrice %>"> ₹ <%= locals.totalPrice %> </div>
                                </div>
                                <hr> </div>
                        </div>
                        <div class="col-12 d-flex shopping-box"> <button class="ml-auto btn hvr-hover text-white" id="placeOrderButton">Place Order</button> </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>

        </form>
    </div>
    <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="mb-4">
                    <div id="couponOptions">
                        <% if (locals.coupons && locals.coupons.length > 0) { %>
                            <% locals.coupons.forEach((coupon, idx) => { %>
                                <div class="coupon-ticket " aria-labelledby="offer">
                                    <div class="custom-control custom-radio">
                                        <input 
                                            data-discount="<%= coupon.discountValue %>" 
                                            data-code="<%= coupon.code %>" 
                                            data-type="<%= coupon.discountType %>"
                                            value="<%= coupon._id %>" 
                                            data-max-value="<%= coupon.maxDiscount %>"
                                            id="coupon<%= idx %>" 
                                            name="selectedCoupon" 
                                            class="custom-control-input" 
                                           
                                            type="radio"
                                        >
                                        <label class="custom-control-label" for="coupon<%= idx %>"><%= coupon.name %></label> <span class="float-right font-weight-bold"><%= coupon.code %></span> 
                                        <% if (coupon.discountType === 'FLAT') { %>
                                            <div class="mb-2">(FLAT ₹<%= coupon.discountValue %> off of your order.)</div>
                                        <% } else if (coupon.discountType === 'PERCENTAGE') { %>        
                                            <div class="mb-2">(Discount of <%= coupon.discountValue %>% off of your order.)</div>
                                        <% } %>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <p>Unfortunately, no coupons are available for you right now.</p>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <% if (locals.coupons && locals.coupons.length > 0) { %>
                <button id="selectCouponBtn" type="button" class="btn btn-primary">Apply</button>
            <% } %>
              <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <%- include('partials/_insta') %>
    <%- include('partials/_footer') %>
    
    <%- include('partials/_scripts') %>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        const walletRadioButton = document.getElementById("wallet");
        const codRadioButton = document.getElementById("cod");
        const upiRadioButton = document.getElementById("upi");
        const codText = document.getElementById('codText');
        const walletAmount = Number(walletRadioButton.dataset.walletAmount);
        const walletText = document.getElementById("walletText");
        
        const clearCouponButton = document.getElementById('clearCouponButton');
        clearCouponButton.style.display = 'none';

        const couponCode = document.getElementById('couponCode');

        const shippingOptions = document.getElementById('shippingOptions');
        const shippingCost = document.getElementById('shippingCost');
        const grandTotal = document.getElementById('grandTotal');
        
        let shippingCostAsNumber = 0;
        let selectedCoupon = {
            code: '',
            value: 0
        };

        shippingOptions.addEventListener('click', (e) => {
            if (e.target.type === 'radio') {
                shippingCost.innerText = e.target.value === '0' ? "Free" : '₹ ' + e.target.value;
                shippingCostAsNumber = Number(e.target.value);
                recalculateGrandTotal(shippingCostAsNumber, selectedCoupon.value)
            }
        })

        const couponOptions = document.getElementById('couponOptions');
        couponOptions.addEventListener('click', (e) => {
            if (e.target.type === 'radio') {
                const { code, type, discount, maxValue } = e.target.dataset;
                console.log(code, type, discount)

                selectedCoupon.code = code;

                if (type === 'PERCENTAGE') {
                    const totalPrice = Number(grandTotal.dataset.price);
                    const amountToDiscount = (totalPrice * Number(discount)) / 100;
                    const allowedDiscount = Math.min(amountToDiscount, Number(maxValue));

                    selectedCoupon.value = allowedDiscount;
                } else if (type === 'FLAT') {
                    selectedCoupon.value = Number(discount)
                }
            }
        })
        const couponDiscountText = document.getElementById('couponDiscountText');

        const selectCouponBtn = document.getElementById('selectCouponBtn');
        selectCouponBtn.addEventListener('click', (e) => {
            if (!selectedCoupon.code) {
                return alertNotOk("Select a coupon to apply.");
            }

            $('#couponModal').modal('hide');

            couponDiscountText.innerText = "- ₹ " + selectedCoupon.value;
            recalculateGrandTotal(shippingCostAsNumber, selectedCoupon.value);

            couponCode.value = selectedCoupon.code;
            clearCouponButton.style.display = 'block';
        })
        
        clearCouponButton.addEventListener('click', () => {
            clearCouponButton.style.display = 'none';

            couponDiscountText.innerText = "- ₹ 0";
            selectedCoupon.code = '';
            selectedCoupon.value = 0;
            couponCode.value = '';
            recalculateGrandTotal(shippingCostAsNumber, selectedCoupon.value);
        })
        
        function recalculateGrandTotal(shippingCost, couponDiscount) {
            console.log("Total Cost Addup:");
            let grandTotalPrice = Number(grandTotal.dataset.price);
            console.log(`Subtotal = ₹ ${grandTotalPrice}`)
            grandTotalPrice += shippingCostAsNumber;
            console.log(`\t + Shipping Cost ₹ ${shippingCostAsNumber}`);
            console.log(`= ${grandTotalPrice}`)
            console.log(`\t + Coupon Discount of ₹ ${couponDiscount}`);
            grandTotalPrice -= couponDiscount;
            console.log(`= ₹ ${grandTotalPrice}`)
            grandTotal.innerText = '₹' + grandTotalPrice;

            if (grandTotalPrice > 2000) {
                codText.style.display = "block";
                codRadioButton.disabled = true;
                if (codRadioButton.checked) {
                    codRadioButton.checked = false;
                    upi.checked = true;
                    alertNotOk("Cash on Delivery not available for above ₹2,000.");
                }
            } else {
                codRadioButton.disabled = false;
                codText.style.display = "none";
            }

            if (grandTotalPrice > walletAmount) {
                walletRadioButton.disabled = true;
                walletText.style.color = "red";
                if (walletRadioButton.checked) {
                    alertNotOk("Insufficient wallet balance.");
                    walletRadioButton.checked = false;
                    if (grandTotalPrice <= 2000) {
                        codRadioButton.checked = true;
                    } else {
                        upiRadioButton.checked = true;
                    }
                }
            } else {
                walletRadioButton.disabled = false;
                walletText.style.color = "#111";
            }
        }
    </script>
    <div class="modal fade" id="orderPlacedModal" tabindex="-1" role="dialog" aria-labelledby="orderPlacedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="orderPlacedModalLabel">Order Placed!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Your order has been placed successfully. Thank you for shopping with us!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        // This script handles the modal display
        document.getElementById('viewCouponsButton').addEventListener('click', function () {
          $('#couponModal').modal('show');
        });
      </script>
                 
    <script>
        const form = document.getElementById("checkOut")

        // Place Order Form
        form.addEventListener("submit", (e) => {
            e.preventDefault()
            const paymentMode = form.paymentOption.value.toLowerCase();

            if (paymentMode === 'cod' || paymentMode === 'wallet') {
                document.getElementById('placeOrderButton').addEventListener('click', function () {
                    $('#orderPlacedModal').modal('show');
                });

                // Submit the form normally.
                form.submit();
                return;
            }

            const amount = grandTotal.innerText.substring(1);

            // If our payment method is RazorPay, we need some additional considerations.
            // 1. User may open the RazorPay form and close it.
            // 2. User may fail at the payment.
            // 3. and possibly even more potential issues that we cannot predict.

            // We will use a different endpoint and submit the form via AJAX Fetch instead

            // /user/payment instead of /user/checkout
            const formData = Object.fromEntries(new FormData(form).entries());

            // Fetch the Razorpay order details from your server
            if (paymentMode == 'upi') {
                fetch("/user/payment", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData)
                }).then(res => res.json())
                .then(data => {
                    const orderId = data.orderId; // RazorPay Generated Order ID
                    const amount = Number(data.amount);
                    const user = data.user;
                    const options = {
                        key: "rzp_test_ou2EZ6lrd1dFBB",
                        amount,
                        currency: "INR",
                        name: "JDGreens",
                        description: "Online Payment",
                        image: "https://example.com/your_logo",
                        order_id: orderId,
                        handler: function (response) {
                            alert('Payment successful! Payment ID: ' + response.razorpay_payment_id);
                            form.submit();
                        },
                        prefill: {
                            name: user.name,
                            email: user.email,
                            contact: "9000090000"
                        },
                        notes: {
                            address: "Razorpay Corporate Office",
                            paymentOption: "ONLINE",

                        },
                        theme: {
                            color: "#155717"
                        }
                    };

                    const RazorPayInstance = new Razorpay(options);

                    RazorPayInstance.on('payment.failed', (response) => {
                        alert("Payment Failed - " + response.error.description);
                        console.error(response.error.code);
                        console.error(response.error.source);
                        console.error(response.error.step);
                        console.error(response.error.reason);
                        console.error(response.error.metadata.payment_id);

                    })

                    // Open the RazorPay Payment Modal
                    RazorPayInstance.open();
                });

            }
        })
    </script>
      
</body>

</html>