<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<%- include('partials/_head', { title: "Home" }) %>

<body data-was-referred="<%= locals.wasReferred ? "yes" : "no" %>">
    <%- include('partials/_pre-header') %>
    <%- include('partials/_header', { active: 'home' }) %>

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
           <% if (locals.banners && locals.banners.length > 0) { %>
                <% locals.banners.forEach(banner => { %>
                    <li class="text-center">
                        <img style="aspect-ratio: 16/9;" src="/uploads/banners/<%= banner.imageURL %>" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong><%= banner.firstLine %> <br> <%= banner.secondLine %></strong></h1>
                                    <p class="m-b-40"><%= banner.description %></p>
                                    <p><a class="btn hvr-hover" href="<%= banner.href %>"><%= banner.buttonText %></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
           <% } else { %>
                <li class="text-center">
                    <img src="images/banner-01.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Explore Nature's Palette <br> with JDGreens</strong></h1>
                                <p class="m-b-40">Transform your space with our exquisite collection of plants. Experience the beauty of nature at your fingertips.</p>
                                <p><a class="btn hvr-hover" href="/shop">Shop Now</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="images/banner-02.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Breathe Life Into Your Home <br> with JDGreens</strong></h1>
                                <p class="m-b-40">Immerse yourself in the freshness of our plants. Elevate your living spaces and bring nature indoors.</p>
                                <p><a class="btn hvr-hover" href="/shop">Shop Now</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="images/banner-03.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Green Dreams, Vibrant Reality <br> at JDGreens</strong></h1>
                                <p class="m-b-40">Turn your gardening dreams into reality with JDgreenz. Discover a world of lush greenery and plant happiness.</p>
                                <p><a class="btn hvr-hover" href="/shop">Shop Now</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/rose.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Flowering Plants</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/Round-Hanging-Basket-2-min_570x.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Hanging Plants</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/catindoor.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Indoor Plants</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->
	
	<div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="images/add-img-01.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="images/add-img-02.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Indoor & Flowering Plants</h1>
                        <p>Choose Plants From here and  Feel the Freshness</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <% locals.products.forEach(product => { %>
                    <div class="col-lg-3 col-md-6 special-grid best-seller">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img style="aspect-ratio: 1/1" src="/uploads/products/<%= product.images[0] %>" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="/shop/<%= product._id %>" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="/shop">Shop now</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4><%= product.name %></h4>
                                <h5> ₹<%= product.price %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>              
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <%- include('partials/_insta') %>
    <%- include('partials/_footer') %>
    
    <%- include('partials/_scripts') %>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>

    <script>
        const links = document.querySelectorAll('[data-link]');
        links.forEach(e => {
            e.onclick = function() {
                window.location.href = e.dataset.href;
                console.log("Works!");
            }
        })

        if (document.body.dataset.wasReferred === 'yes') {
            setTimeout(() => {
                alertOk("You have received a referral bonus. Check your wallet.");
            }, 1000);
        }
    </script>
</body>

</html>