<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<%- include('partials/_head', { title: "Profile" }) %>

<body>
    <%- include('partials/_pre-header') %>
    <%- include('partials/_header', { active: 'profile' }) %>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Profile</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Your Profile</h3>
                        </div>
                        <form method="POST" action="/user/profile">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="" value="<%= locals.user.name %>" required>
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" placeholder="" value="<%= locals.user.email %>" disabled required>
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="mobile">Mobile</label>
                                    <input type="number" class="form-control" id="mobile" placeholder="" value="<%= locals.user.mobile ?? '' %>">
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex shopping-box"> <button class="ml-auto btn hvr-hover text-white">Update</button> </div>
                            <hr class="mb-1"> 
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Change Password</h3>
                                </div>
                                <form method="POST" action="/user/password" id="changePasswordForm">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="oldPassword">Current Password</label>
                                            <input type="text" class="form-control" name="oldPassword" id="oldPassword" placeholder="" value="" required>
                                            <div class="invalid-feedback"> Valid first name is required. </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="newPassword">New Password</label>
                                            <input type="text" class="form-control" name="newPassword" id="newPassword" placeholder="" value="" required>
                                            <div class="invalid-feedback"> Valid first name is required. </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="newPasswordConfirm">Confirm Password</label>
                                            <input type="text" class="form-control" id="newPasswordConfirm" placeholder="" value="" required>
                                            <div class="invalid-feedback"> Valid first name is required. </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex shopping-box"> <button class="ml-auto btn hvr-hover text-white">Update</button> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <%- include('partials/_insta') %>
    <%- include('partials/_footer') %>
    
    <%- include('partials/_scripts') %>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <script>
        document.getElementById('changePasswordForm').addEventListener('submit', (e) => {
            e.preventDefault();

            const data = JSON.stringify({oldPassword: e.target.oldPassword.value, newPassword: e.target.newPassword.value})
            fetch("/user/profile/change-password", { 
                method: "POST", // todo: change to PATCH
                headers: {
                    "content-type": "application/json"
                },
                body: data 
            }).then(res => {
                if (!res.ok) {
                    throw new Error("Invalid password");
                }

                alertOk("Changed password successfully.");

                e.target.clear();
            }).catch(alert);
        });
    </script>
</body>

</html>